 <h3>SIGN UP PAGE</h3>
        
    <p>{{username}} IS AVAILABLE</p>

    <form action="/confirmPassword" method="POST">
        <div class="form-group">
            <input type="text" name="password" placeholder="Password" class="form-control">
            <input type="text" name="confirmPassword" placeholder="Confirm Password" class="form-control">
        </div>
        <button type="submit">Next</button>
    </form>
