 <header>
    <div class="navImage">
      <i class="fas fa-atom"></i>
      <img src="../assets/images/cricketlogo.png" height="75" width="75"/>
      <p id="navCompName">TrL</p>
    </div>
    <nav>
      <ul>
        <li><a href="../home">Home</a></li>
      </ul>
    </nav>
  </header>

  <section class="titles">
    <h1>Task Request Logs</h1>
    <p>Manage home life and work life all in one place!</p>

        <form action="/newBoard" method="POST">
            <div class="form-group">
                <input type="text" name="board_name" class="form-control" placeholder="Create New Board" aria-label="Create New Board" aria-describedby="basic-addon2">
            </div>
            
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

  </section>

   <h2>Available Boards</h2>
    
  <section class="container-boxes">
 

        {{#each boards}}
        <form action="/board/{{this.board_name}}" method="GET">
            <button class="box" type="submit"><h3>{{this.board_name}}</h3></button>
        </form>
        {{/each}}


  </section>
  </div>
 