 <h3>LOG IN PAGE</h3>
        
    <form action="/userLogin" method="POST">
        <div class="form-group">
            <input type="text" name="userName" placeholder="User Id" class="form-control">
            <input type="text" name="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit">Log In</button>
    </form>
    <form action="/signUp" method="GET">
        <button type="submit">Sign Up</button>
    </form>