 <h3>SIGN UP PAGE</h3>
        
    <form action="/checkUserName" method="POST">
        <div class="form-group">
            <input type="text" name="userName" placeholder="User Id" class="form-control">
        </div>
        <button type="submit">Next</button>
    </form>
